# =========================
# FRONTEND
# =========================
clinic-admin/node_modules
clinic-admin/build

# =========================
# BACKEND
# =========================
__pycache__/
*.pyc
venv/
.env

# =========================
# DATABASE
# =========================
*.db

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db